@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2e4832;
  --secondary-color: #93a694;
  --foreground: #333333;
  /* filled: red; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #333333;
    --font-tajawal: "Tajawal", sans-serif;
  }
}

html,
body {
  color: var(--foreground);
  background-color: #bacfbb !important;
  font-family: var(--font-tajawal);
  direction: rtl; /* Right-to-left layout */
  text-align: right;

  min-height: 100%;
}

/* Override any other background colors */
.bg-gray-50,
.bg-white {
  background-color: #e3fae5 !important;
}

/* Make header white */
header {
  background-color: white !important;
}

/* Add these responsive typography rules */
@media (max-width: 640px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
